:root {
  --primary-green: #3E2723;
  --dark-text: #2c3e50;
  --light-bg: #f9f9f9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--light-bg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 900px;
  height: 550px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

/* Left Side: Image */
.image-section {
  flex: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  color: white;
}

.image-section h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.image-section p {
  font-size: 1.1rem;
  opacity: 0.9;
}

/* Right Side: Forms */
.form-section {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container h2 {
  margin-bottom: 25px;
  color: var(--dark-text);
}

.input-group {
  margin-bottom: 15px;
}
.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: var(--primary-green);
}

.btn {
  width: 100%;
  padding: 12px;
  /* background: var(--primary-green); */
  background: #3E2723;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.toggle-text {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}

.toggle-text span {
  color: var(--primary-green);
  cursor: pointer;
  font-weight: bold;
}

.hidden {
  display: none;
}

/* Password  */

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* Space for the icon */
}

.toggle-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    user-select: none;
}